{
  "openapi": "3.0.3",
  "info": {
    "title": "DiHub API",
    "version": "1.0.0",
    "description": "API da DiHub para consulta de créditos, emissão de diligências, acompanhamento de processamento e download de certidões."
  },
  "servers": [
    {
      "url": "https://api.dihub.com.br",
      "description": "Produção"
    },
    {
      "url": "https://homolog.api.dihubapp.com",
      "description": "Homologação. O acesso precisa ser liberado pela equipe DiHub. A habilitação pelo próprio usuário ainda está em desenvolvimento."
    }
  ],
  "tags": [
    {
      "name": "Créditos",
      "description": "Consulta de saldo disponível para a conta autenticada."
    },
    {
      "name": "Diligências",
      "description": "Emissão, acompanhamento e download dos artefatos gerados pela diligência."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Token",
        "description": "Token de API usado para autenticar as requisições."
      }
    },
    "parameters": {
      "DiligenceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identificador da diligência.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "example": "550e8400-e29b-41d4-a716-446655440000"
      },
      "CertificateId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identificador da certidão.",
        "schema": {
          "type": "string"
        },
        "example": "cert_01J0A1BC2DE3FG4H5JK6LM7NPQ"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Token ausente, inválido ou revogado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthError"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Missing or invalid api token"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Falha de validação ou regra de negócio.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "example": {
              "message": "Erro de validação",
              "details": [
                {
                  "path": [
                    "document"
                  ],
                  "message": "O documento deve ter 11 ou 14 caracteres"
                }
              ]
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Erro inesperado no servidor.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Internal Server Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Recurso não encontrado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Recurso não encontrado"
            }
          }
        }
      }
    },
    "schemas": {
      "AuthError": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Missing or invalid api token"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Erro de validação"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationErrorDetail"
            }
          }
        }
      },
      "ValidationErrorDetail": {
        "type": "object",
        "properties": {
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "EmitErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro."
          },
          "details": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "message": { "type": "string" }
                  }
                }
              },
              {
                "type": "object",
                "description": "Objeto com dados específicos do erro (ex: requiredCredits, district)."
              }
            ]
          }
        }
      },
      "CreditBalanceResponse": {
        "type": "object",
        "required": [
          "balance"
        ],
        "properties": {
          "balance": {
            "type": "number",
            "format": "float",
            "description": "Saldo total disponível, somando créditos pessoais e da organização.",
            "example": 15.5
          }
        }
      },
      "District": {
        "type": "object",
        "required": [
          "state",
          "district"
        ],
        "properties": {
          "state": {
            "type": "string",
            "description": "Sigla do estado brasileiro (UF).",
            "minLength": 1,
            "maxLength": 100,
            "example": "MG"
          },
          "district": {
            "type": "string",
            "description": "Nome do distrito (comarca) em maiúsculas com underscores.",
            "minLength": 1,
            "maxLength": 100,
            "example": "BELO_HORIZONTE"
          }
        }
      },
      "EmitDiligenceRequest": {
        "type": "object",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "type": "string",
            "description": "CPF com 11 dígitos ou CNPJ com 14 dígitos, sem formatação.",
            "minLength": 11,
            "maxLength": 14,
            "pattern": "^[0-9]{11}$|^[0-9]{14}$",
            "example": "12345678901"
          },
          "documentIdentity": {
            "type": "string",
            "description": "Documento de identidade (RG) do titular. Opcional, apenas para CPF, usado nos cenários em que a busca exigir RG.",
            "minLength": 6,
            "maxLength": 15,
            "example": "MG12345678"
          },
          "districts": {
            "type": "array",
            "description": "Comarcas envolvidas na diligência. Obrigatório exceto quando `creditAnalysisOnly` for `true`.",
            "minItems": 1,
            "maxItems": 2,
            "items": {
              "$ref": "#/components/schemas/District"
            }
          },
          "creditAnalysis": {
            "type": "boolean",
            "description": "Quando `true`, adiciona análise de crédito (Serasa) além das certidões. Adiciona 0,5 créditos ao custo. Só é realizada se o titular tiver 18+ anos.",
            "default": false
          },
          "creditAnalysisOnly": {
            "type": "boolean",
            "description": "Quando `true`, realiza apenas análise de crédito sem emitir certidões. Distritos não são obrigatórios. Titular deve ter 18+ anos.",
            "default": false
          },
          "useOldModel": {
            "type": "boolean",
            "description": "Quando `true`, usa o modelo antigo de relatório de análise de crédito. Quando `false`, usa o novo modelo de aluguel. Aplica-se apenas a requisições de análise de crédito.",
            "default": false
          }
        }
      },
      "EmitDiligenceResponse": {
        "type": "object",
        "required": [
          "diligenceId",
          "message"
        ],
        "properties": {
          "diligenceId": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "message": {
            "type": "string",
            "example": "Diligência emitida com sucesso"
          }
        }
      },
      "DiligenceStatus": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string",
            "enum": [
              "IN_PROGRESS",
              "COMPLETED",
              "FAILED"
            ],
            "example": "IN_PROGRESS"
          },
          "message": {
            "type": "string",
            "example": "Processamento em andamento"
          }
        }
      },
      "DiligenceStatusResponse": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "subject": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Maria da Silva"
              },
              "document": {
                "type": "string",
                "example": "***45678901"
              }
            }
          },
          "state": {
            "type": "string",
            "description": "UF ou combinação de UFs envolvidas na diligência.",
            "example": "MG/SP"
          },
          "district": {
            "type": "string",
            "example": "BELO_HORIZONTE"
          },
          "status": {
            "$ref": "#/components/schemas/DiligenceStatus"
          },
          "creditAnalysis": {
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-13T14:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-13T14:32:00Z"
          }
        }
      },
      "CertificateFile": {
        "type": "object",
        "required": [
          "id",
          "name",
          "issuer",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "cert_01J0A1BC2DE3FG4H5JK6LM7NPQ"
          },
          "name": {
            "type": "string",
            "example": "Certidão de Débitos Trabalhistas"
          },
          "issuer": {
            "type": "string",
            "example": "TST - Tribunal Superior do Trabalho"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED"
            ],
            "example": "COMPLETED"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://api.dihub.com.br/certificate/cert_01J0A1BC2DE3FG4H5JK6LM7NPQ/download-pdf"
          }
        }
      },
      "DiligenceCertificatesResponse": {
        "type": "object",
        "required": [
          "diligenceId",
          "certificates"
        ],
        "properties": {
          "diligenceId": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "certificates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CertificateFile"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiTokenAuth": []
    }
  ],
  "paths": {
    "/credits/balance": {
      "get": {
        "tags": [
          "Créditos"
        ],
        "summary": "Consultar saldo de créditos",
        "description": "Retorna o saldo total disponível para a conta autenticada.\n\nSe você não tiver créditos disponíveis, acesse o [painel financeiro no dashboard](https://app.dihub.com.br/perfil/financeiro) e solicite a quantidade desejada.",
        "operationId": "getCreditsBalance",
        "x-mint": {
          "metadata": {
            "title": "Consultar Saldo de Créditos",
            "description": "Retorna o saldo total de créditos disponível para sua conta"
          },
          "content": "<Info>\n  Se você não tiver créditos disponíveis, acesse o [painel financeiro no dashboard](https://app.dihub.com.br/perfil/financeiro) e solicite a quantidade desejada.\n</Info>\n",
          "href": "/api-reference/credits/balance"
        },
        "responses": {
          "200": {
            "description": "Saldo retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/emit": {
      "post": {
        "tags": [
          "Diligências"
        ],
        "summary": "Emitir diligência",
        "description": "Cria uma nova diligência. Suporta três cenários principais:\n\n1. **Diligência completa com certidões**: Requer distritos e opcionalmente inclui análise de crédito.\n2. **Apenas análise de crédito**: Realiza somente análise de crédito sem emissão de certidões.\n3. **Combinado**: Diligência completa com análise de crédito adicional.\n\nRegras importantes:\n- Consulte `GET /credits/balance` antes de iniciar fluxos em lote.\n- Use no máximo 2 comarcas por requisição.\n- A análise de crédito só é executada para titulares com 18 anos ou mais.\n- Para detalhes de cobrança, veja [Consumo de créditos](/reference/consumo-creditos).",
        "operationId": "emitDiligence",
        "x-mint": {
          "metadata": {
            "title": "Emitir Diligência",
            "description": "Cria uma nova diligência para emissão de certidões e/ou análise de crédito"
          },
          "href": "/api-reference/diligences/emit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmitDiligenceRequest"
              },
              "examples": {
                "DiligenciaCompletaCPF": {
                  "summary": "Diligência completa para CPF com um distrito",
                  "description": "Diligência padrão para pessoa física (CPF) em um distrito. Custo: 1 crédito.",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      }
                    ]
                  }
                },
                "DiligenciaCompletaCNPJ": {
                  "summary": "Diligência completa para CNPJ com um distrito",
                  "description": "Diligência padrão para pessoa jurídica (CNPJ) em um distrito. Custo: 1 crédito.",
                  "value": {
                    "document": "12345678000190",
                    "districts": [
                      {
                        "state": "SP",
                        "district": "SAO_PAULO"
                      }
                    ]
                  }
                },
                "MultiplasComarcasNoMesmoEstado": {
                  "summary": "Múltiplos distritos no mesmo estado",
                  "description": "Diligência cobrindo dois distritos no mesmo estado (ex: MG). Custo: 1 crédito.",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      },
                      {
                        "state": "MG",
                        "district": "DIVINOPOLIS"
                      }
                    ]
                  }
                },
                "MultiplasComarcasEmEstadosDiferentes": {
                  "summary": "Múltiplos distritos em estados diferentes",
                  "description": "Diligência cobrindo distritos em estados diferentes. Custo: 2 créditos.",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      },
                      {
                        "state": "SP",
                        "district": "SAO_PAULO"
                      }
                    ]
                  }
                },
                "DiligenciaCompletaComAnaliseDeCredito": {
                  "summary": "Diligência completa com análise de crédito",
                  "description": "Combina emissão de certidões com análise de crédito. Custo: 1,5 créditos. Titular deve ter 18+ anos.",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      }
                    ],
                    "creditAnalysis": true
                  }
                },
                "ApenasAnaliseDeCredito": {
                  "summary": "Apenas análise de crédito (sem certidões)",
                  "description": "Realiza somente análise de crédito sem emitir certidões. Custo: 1 crédito. Titular deve ter 18+ anos.",
                  "value": {
                    "document": "12345678901",
                    "creditAnalysisOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diligência criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmitDiligenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação ou violação de regra de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmitErrorResponse"
                },
                "examples": {
                  "validationError": {
                    "summary": "Dados de entrada inválidos",
                    "value": {
                      "message": "Validation Error",
                      "details": [
                        {
                          "path": ["document"],
                          "message": "O documento deve ter 11 ou 14 caracteres"
                        }
                      ]
                    }
                  },
                  "missingDistricts": {
                    "summary": "Distritos obrigatórios",
                    "value": {
                      "message": "Validation Error",
                      "details": [
                        {
                          "path": ["districts"],
                          "message": "Distritos são obrigatórios quando não é apenas Análise DiHub"
                        }
                      ]
                    }
                  },
                  "insufficientCredits": {
                    "summary": "Créditos insuficientes",
                    "value": {
                      "message": "Not enough credits",
                      "details": {
                        "requiredCredits": 2,
                        "totalCreditsAmount": 1
                      }
                    }
                  },
                  "invalidDistrict": {
                    "summary": "Distrito inválido para o estado",
                    "value": {
                      "message": "Invalid district INVALID_DISTRICT in state MG",
                      "details": {
                        "district": {
                          "state": "MG",
                          "district": "INVALID_DISTRICT"
                        }
                      }
                    }
                  },
                  "underage": {
                    "summary": "Análise de crédito não permitida para menores",
                    "value": {
                      "message": "Análise não realizada: usuário menor de idade."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Documento do titular não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                },
                "example": {
                  "message": "Subject Document Not Found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/status": {
      "get": {
        "tags": [
          "Diligências"
        ],
        "summary": "Consultar status da diligência",
        "description": "Retorna o estado atual do processamento de uma diligência já criada.",
        "operationId": "getDiligenceStatus",
        "x-mint": {
          "href": "/api-reference/diligences/status"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DiligenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Status retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiligenceStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/certificates": {
      "get": {
        "tags": [
          "Diligências"
        ],
        "summary": "Listar certidões da diligência",
        "description": "Retorna a lista de certidões associadas à diligência e o status individual de cada item.",
        "operationId": "getDiligenceCertificates",
        "x-mint": {
          "href": "/api-reference/diligences/certificates"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DiligenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de certidões retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiligenceCertificatesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/download-pdf": {
      "get": {
        "tags": [
          "Diligências"
        ],
        "summary": "Baixar PDF consolidado da diligência",
        "description": "Baixa o PDF consolidado da diligência quando o processamento já estiver concluído.",
        "operationId": "downloadDiligencePdf",
        "x-mint": {
          "href": "/api-reference/diligences/download-pdf"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DiligenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo PDF retornado com sucesso.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/download-zip": {
      "get": {
        "tags": [
          "Diligências"
        ],
        "summary": "Baixar ZIP da diligência",
        "description": "Baixa um arquivo ZIP com os documentos disponíveis para a diligência.",
        "operationId": "downloadDiligenceZip",
        "x-mint": {
          "href": "/api-reference/diligences/download-zip"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DiligenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo ZIP retornado com sucesso.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/certificate/{id}/download-pdf": {
      "get": {
        "tags": [
          "Diligências"
        ],
        "summary": "Baixar PDF de uma certidão",
        "description": "Baixa o PDF de uma certidão específica gerada pela diligência.",
        "operationId": "downloadCertificatePdf",
        "x-mint": {
          "href": "/api-reference/certificates/download-pdf"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CertificateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo PDF retornado com sucesso.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  }
}