{
  "openapi": "3.0.0",
  "info": {
    "title": "DiHub API",
    "version": "1.0.0",
    "description": "API documentation for DiHub services"
  },
  "servers": [
    {
      "url": "https://api.dihub.com.br",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiToken": []
    }
  ],
  "paths": {
    "/v1/credits/balance": {
      "get": {
        "summary": "Get credit balance",
        "description": "Retrieves the current credit balance for the authenticated account.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "example": 1000.50
                    },
                    "currency": {
                      "type": "string",
                      "example": "BRL"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid token"
                    }
                  },
                  "missing_token": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Missing or invalid x-api-token header"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/diligence/emission": {
      "post": {
        "summary": "Emit diligence",
        "description": "Emits a new diligence request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_id": {
                    "type": "string",
                    "example": "12345"
                  },
                  "type": {
                    "type": "string",
                    "example": "full_report"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diligence emitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "dil_987654"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/diligence/certificate": {
      "get": {
        "summary": "Get diligence certificate",
        "description": "Retrieves the certificate for a completed diligence.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the diligence"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "certificate_url": {
                      "type": "string",
                      "example": "https://certificates.dihub.com.br/cert_123.pdf"
                    },
                    "issued_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-10-27T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
